/* ---------- WOFI NORDIC THEME ---------- */

window {
    background: rgba(46, 52, 64, 0.85); /* Nord0*/
    /* border-radius: 8px; */
    border: 2px solid #88c0d0;
    padding: 12px;
    margin: 10px;
}

#input {
    padding: 10px;
    background-color: rgba(59, 66, 82, 0.8); /* Nord1 */
    color: #eceff4; /* Nord6 */
    border: 2px solid #88c0d0;
    font-size: 14px;
}

#input:focus {
    outline: 2px solid #ff99ff; /* Nord7 */
}

#entry {
    padding: 8px 12px;
    /* border-radius: 10px; */

    color: #d8dee9; /* Nord4 */
    font-size: 14px;
    background: transparent;
}

#entry:selected {
    background-color: palevioletred; /* Nord10 */
}
#entry:selected #text {
    color: #000000;
}
#text {
    padding-left: 8px;
}
#scroll {
    margin-top: 5px;
}

scrollbar {
    background: transparent;
}

scrollbar slider {
    background: rgba(94, 129, 172, 0.5);
    border-radius: 6ppx;
}
